<div class="row">

    <div class="col s12 m2 l2 teal lighten-4">
        huh<br />
        huh<br />
        huh<br />
        huh<br />
        huh<br />
        huh<br />
        huh<br />
        huh<br />
        huh<br />
        huh<br />
        huh<br />
        huh<br />
        huh<br />
        huh<br />
        huh<br />
        huh<br />
        huh<br />
        huh<br />
        huh<br />
        huh<br />
        huh<br />
        huh<br />
        huh<br />
        huh<br />
        huh<br />
        huh<br />
        huh<br />
        huh<br />
        huh<br />
        huh<br />
        huh<br />
        huh<br />
        huh<br />
        huh<br />
        huh<br />
        huh<br />
        huh<br />
        huh<br />
        huh<br />
        huh<br />
    </div>
    <div class="col s12 m4 l5 grey lighten-5">
        sad

        <div class="row">
            <form method="post" action="/test2">
                <input value="Enter number" id="name" type="text">
                <label class="active" for="name">Number</label>
                <button id="btnCalculateTest" class="btn btn-float blue white-text" type="submit">Go</button>
                <label id="lblResult" class="black-text">Result</label>
            </form>
        </div>
        <div class="row">
        </div>

        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
    <div class="col s12 m2 l2 light-blue lighten-4">
        huh
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
    <div class="col s12 m2 l3 teal lighten-4">
        huh
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</div>