    <!-- Navigation bar -->
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper white">
            <a href="#!" class="brand-logo" id="image-logo-id">
                <img src="../images/company-logo1.png" width="40" height="40" />
            </a>

            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

            <ul id="dropdown1" class="dropdown-content white">
                <li><a href="#!" class="blue-text">Computer Science <img src="../images/company-logo1.png" width="60" height="60" /></a></li>
                <li><a href="#!" class="blue-text">Computer Engineering <img src="../images/company-logo1.png" width="60" height="60" /></a></li>
                <li class="divider"></li>
                <li><a href="#!" class="blue-text">Information Technology<img src="../images/company-logo1.png" width="60" height="60" /></a></li>
            </ul>

            <ul class="right hide-on-med-and-down">

                <li><a href="#" class="black-text">Mathematics</a></li>
                <li><a href="#" class="black-text">Computer Science</a></li>
                <li><a href="#" class="black-text">Algorithms</a></li>
                <li><a class="black-text" [routerLink]="['/tools']">Tools</a></li>
                <li><a href="#" class="black-text">About</a></li>
                <li><a href="#" class="black-text">Contact</a></li>
                <li><a class="dropdown-button black-text" href="#!" data-activates="dropdown1">Categories<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="waves-effect waves-light btn purple" id="login-button" href="#">Login</a></li>
                <li><a class="waves-effect waves-light btn red darken-1" id="register-button" href="#">Register</a></li>
            </ul>
        </div>
    </nav>
</div>
<!-- Navigation bar end -->

<router-outlet></router-outlet>